.nav-pills .nav-link.active, .nav-pills .show >.nav-link {
    color: white;
    background-color: grey;
}

.nav-pills .nav-link{
    color: gray;
}

.card{
    width: 700px;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-brand{
    font-family: 'Lobster', cursive;
}   